<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chainfuture.code.mapper.MedalMapper">
    <resultMap id="BaseResultMap" type="com.chainfuture.code.bean.Medal">
        <id column="id" property="id" />
        <result column="medalIcon"  property="medalIcon" />
        <result column="medalName"  property="medalName" />
        <result column="status"  property="status" />
        <result column="createTime"  property="createTime" />
        <result column="updateTime"  property="updateTime" />
        <result column="describe"  property="describe" />
        <result column="medalAddr"  property="medalAddr" />
        <result column="product" property="product"/>
        <result column="sname" property="sname"/>
        <result column="user" property="user"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, medalIcon, medalName, status, createTime, updateTime, `describe`, medalAddr, product, sname
    </sql>

    <select id="querySql"  resultType="com.chainfuture.code.bean.Medal">

        select  distinct m.medalIcon  from  code_medal  m   left  join codetx  c   on  c.productAddress=m.medalAddr
        <if test="user !=null and user!=''">
            where  c.user=#{user}
        </if>
    </select>

    <!-- 查询所有勋章记录 -->
    <select id="listMedal" resultType="com.chainfuture.code.bean.Medal">
        SELECT
        id, medalIcon, medalName, `status`, createTime, updateTime, `describe`, medalAddr,product,sname
        FROM code_medal   where  product=1
        <if test="pageIndex != null and limit != null">
            limit ${pageIndex},${limit}
        </if>
    </select>

    <select id="getById" parameterType="java.lang.Integer" resultType="com.chainfuture.code.bean.Medal">
        SELECT
        <include refid="Base_Column_List"/>
        FROM code_medal
        WHERE   id=#{id}   and  product=1
    </select>
    <!-- 查询记录数 -->
    <select id="queryCount" parameterType="com.chainfuture.code.bean.Medal" resultType="int">
        SELECT count(id) FROM code_medal    WHERE  product=1
    </select>

    <!-- 插入一条勋章记录 -->
    <insert id="insertMedal" parameterType="com.chainfuture.code.bean.Medal">
        INSERT INTO
        code_medal (medalIcon, medalName, status, createTime, updateTime, `describe`, medalAddr,product,sname)
        VALUES
        (#{medalIcon}, #{medalName}, #{status}, #{createTime}, #{updateTime}, #{describe}, #{medalAddr}, #{product}, #{sname})
    </insert>

    <!-- 修改勋章信息 -->
    <update id="updateMedal" parameterType="com.chainfuture.code.bean.Medal">
        UPDATE code_medal
        <trim prefix="set" suffixOverrides=",">
            <if test="medalIcon != null and medalIcon != ''">
                medalIcon = #{medalIcon},
            </if>
            <if test="medalName != null">
                medalName = #{medalName},
            </if>
            <if test="status != null and status != ''">
                `status` = #{status},
            </if>
            <if test="createTime != null and createTime != ''">
                createTime = #{createTime},
            </if>
            <if test="updateTime != null and updateTime != ''">
                updateTime = #{updateTime},
            </if>
            <if test="describe != null">
                `describe` = #{describe},
            </if>
            <if test="medalAddr != null">
                medalAddr = #{medalAddr},
            </if>
            <if test="sname != null">
                sname = #{sname},
            </if>
        </trim>
        WHERE id = #{id} AND `status`=1
    </update>
</mapper>