<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chainfuture.code.mapper.SysUserMenuMapper">
    <resultMap id="BaseResultMap" type="com.chainfuture.code.bean.SysUserMenu">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="mid"  property="mid" />
        <result column="openId"  property="openId" />
    </resultMap>
    <sql id="Base_Column_List">
        id, mid,openId
    </sql>


</mapper>